/*
aciq border rengi: #ebebeb ;
tund border rengi: #D3D3D3 ;

qirmizi : #ED5258;
boz(buttonlarin qarasi) : #3f3f45;

transition : 0.5s her yerde;

*/
/*SEHIFELER YUKLENMEDEN ONCE CIXAN LOADING START*/
    .circle {
        background-color: rgba(0,0,0,0);
        border: 6.5px solid #ED5258;
        opacity: .9;
        border-right: 6.5px solid #3f3f45;
        border-left: 6.5px solid #3f3f45;
        border-radius: 50%;
        box-shadow: 0 0 25px #ED5258;
        width: 100px;
        height: 100px;
        margin: 200px auto;
        -moz-animation: spinPulse 1s infinite ease-in-out;
        -webkit-animation: spinPulse 1s infinite linear;
    }
    .circle1 {
        background-color: rgba(0,0,0,0);
        border: 6.5px solid #ED5258;
        opacity: .9;
        border-left: 6.5px solid #3f3f45;
        border-right: 6.5px solid #3f3f45;
        border-radius: 50%;
        box-shadow: 0 0 10px #ED5258;
        width: 70px;
        height: 70px;
        margin: -200px auto;
        position: relative;
        top: -85px;
        -moz-animation: spinoffPulse 1s infinite linear;
        -webkit-animation: spinoffPulse 1s infinite linear;
    }
    @-moz-keyframes spinPulse {
        0% {
            -moz-transform: rotate(160deg);
            opacity: 0;
            box-shadow: 0 0 1px #2187e7;
        }

        50% {
            -moz-transform: rotate(145deg);
            opacity: 1;
        }

        100% {
            -moz-transform: rotate(-320deg);
            opacity: 0;
        };
    }
    @-moz-keyframes spinoffPulse {
        0% {
            -moz-transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
        };
    }
    @-webkit-keyframes spinPulse {
        0% {
            -webkit-transform: rotate(160deg);
            opacity: 0;
            box-shadow: 0 0 1px #2187e7;
        }

        50% {
            -webkit-transform: rotate(145deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: rotate(-320deg);
            opacity: 0;
        };
    }
    @-webkit-keyframes spinoffPulse {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        };
    }
/*SEHIFELER YUKLENMEDEN ONCE CIXAN LOADING FINISH*/
.main_divs_space{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 50px !important;
}
.netice_tapilmadi{
  font-size: 16px;
  border-radius:0px !important;
  padding: 18px !important;
  margin: 0px !important;
}
body{
  /*sehifede scroll yaratdigi ucun legv edildi*/
	/*min-width: 400px;*/
}
body::-webkit-scrollbar{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

body::-webkit-scrollbar-track{
  background: #3f3f45;
}

body::-webkit-scrollbar-thumb{
  background: #ED5258;
}
.seo_h1{
  font-size: 0.5em !important;
  margin: 0 !important;
  padding: 0 !important;
  color: white !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select:none !important;
  user-select:none !important;
  -o-user-select:none !important;
}
input{
	border-radius: 0px !important;
}
button{
	border-radius: 0px !important;
}
nav{
	border-radius: 0px !important;
}
.container {
  overflow: hidden; 
}
.btn,button{
  outline: none !important;
}
.btn:focus,.btn:active,button:focus,button:active {
   outline: none !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus{   
  border-color: #D3D3D3;
  box-shadow: 0 0.3px 0.3px #ED5258 inset, 0 0 1px #ED5258;
  outline: 0 none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/*INDEX PHP START - INDEX PHP START - INDEX PHP START - INDEX PHP START - INDEX PHP START - INDEX PHP START - INDEX PHP START - INDEX PHP START -*/

/*HEADER START*//*HEADER START*//*HEADER START*/
.logo{
	margin-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
}
.searchBox{
	margin-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
}
.searchBox input{
	height: 44px;
	border:1px solid #ebebeb;
	margin-top: 40px;
}
.searchBox input:focus{
	border: #D3D3D3;
}
.header_search_btn{
	height: 44px;
	border:1px solid #ebebeb;
	margin-top: 40px;
}
.header_search_btn:hover{
	border-color: #D3D3D3;
	background: #f2f2f2;
}
.header_search_btn:focus{
	border-color: #D3D3D3 !important;
	background: #f2f2f2 !important;
}
.header_search_btn img{
	width:25px;
	height: 26px;
}
.navbar{
	height:71px;
	background: #3f3f45;
	margin-top: 30px;
	padding: 0;
	border:0px;
}
.closed_menu{
  display: none;
}
.navbar ul{
	padding-left: 0px;
  display: block;
  padding-top: 0px;
}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
	min-width: 70px;
	height: 71px;
  transition: 0.5s all;
}
.navbar ul li a{
    height: 71px;
    font: 400 14px/16px "Tinos", sans-serif;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 26px 20px 27px;
    position: relative;
    text-decoration: none;
    display: block;
    transition: all 0.5s ease;
}
.menu_before:before{
    padding: 29px 20px 27px;
    left: 0;
    top: 0;
    background: #ED5258;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    position: absolute;
    content: attr(title);
    font: 400 14px/16px "Tinos", sans-serif;
    color: white;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    white-space: nowrap;
    visibility: hidden;
    height: 71px;
}
.menu_before:hover:before {
    -webkit-transform: rotateX(1deg);
    transform: rotateX(1deg);
    background: #ED5258;
    visibility: visible; 
}
/*HEADER FINISH*//*HEADER FINISH*//*HEADER FINISH*/



/*SLIDER START*//*SLIDER START*//*SLIDER START*/
.slider_inner_right{
  padding: 50px 50px 0px 100px;
}
.slider_img{
  width: 450px !important;
  height: 450px !important;
}
.slider_inner_right h5{
  font: 400 3.0em/0.85em "Tinos", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider_inner_right p{
  font: 400 1.3em/0.85em "Tinos", sans-serif;
  line-height: 20px;
  color: #3f3f45;
}
.slider_inner_right slider-qiymet{
  font: 400 3em/0.85em "Tinos", sans-serif;
}
.slider_inner_right a{
  display: block;
  margin-top: 20px;
}
.slider_inner_right a button{
    border: none;
    padding: 3.4% 8.1%;
    text-align: center;
    text-transform: capitalize;
    font: 800 1em/1.2em "Tinos", sans-serif;
    color: white;
    background: #ED5258;
    letter-spacing: 1.3px;
}
.my_slider_pager{
  text-align: right;
}
.my_slider_pager button{
  width: 15px;
  height: 15px;
  border-radius: 50% !important;
  border:0;
  background: #3f3f45;
  margin-left: 3px; 
}
.my_slider_pager button:hover{
  background: #ED5258;
}
/*SLIDER FINISH*//*SLIDER FINISH*//*SLIDER FINISH*/



/*INDEX PHP FINISH - INDEX PHP FINISH - INDEX PHP FINISH - INDEX PHP FINISH - INDEX PHP FINISH - INDEX PHP FINISH - INDEX PHP FINISH - INDEX PHP FINISH -*/







/*SIFARISH START - SIFARISH START - SIFARISH START - SIFARISH START - SIFARISH START - SIFARISH START - SIFARISH START*/
.sifarish_oldu_bg{
  display: none;
  width: 100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background: black;
  opacity: 0.6;
  z-index: 10;
}
.sifarish_oldu,.sifarish_limiti_dolub,.sifarish_xeta,.sifarish_ucun_daxil_olun,.mehsul_sil_popup,.min_max_mehsul_sifaris{
  display: none;
  z-index: 11;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
  height: 250px;
  background: white;
  border: 2px solid #D3D3D3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px #3f3f45;
  -moz-box-shadow: 0px 0px 1px 0px #3f3f45;
  box-shadow: 0px 0px 1px 0px #3f3f45;
}
.mehsul_sil_popup{
  height: 200px;
}
.sifarish_oldu p,.sifarish_limiti_dolub p,.sifarish_xeta p,.sifarish_ucun_daxil_olun p,.mehsul_sil_popup p,.min_max_mehsul_sifaris p{
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: #31708f;
}
.sifarish_oldu button,.sifarish_limiti_dolub button,.sifarish_xeta button,.sifarish_ucun_daxil_olun button,.mehsul_sil_popup button,.min_max_mehsul_sifaris button{
  width: 75%;
  position: relative;
  left: 12.5%;
  min-height: 55px;
  border: 0;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font: 200 1em/1.2em "Tinos", sans-serif;
  color: white;
  letter-spacing: 0.5px;
}
.sifarish_oldu button:nth-child(2),.sifarish_xeta button:nth-child(2),.sifarish_ucun_daxil_olun button:nth-child(2),.sifarish_ucun_daxil_olun button:nth-child(3),.min_max_mehsul_sifaris button:nth-child(2){
  background: #ED5258;
}
.sifarish_oldu button:nth-child(3),.sifarish_limiti_dolub button:nth-child(3),.sifarish_xeta button:nth-child(3),.mehsul_sil_popup button:nth-child(2),.min_max_mehsul_sifaris button:nth-child(3){
  background: #3f3f45;
  margin-top: 10px;
}
.sifarish_oldu button:nth-child(2):hover,.sifarish_xeta button:nth-child(2):hover,.sifarish_ucun_daxil_olun button:nth-child(2):hover,.sifarish_ucun_daxil_olun button:nth-child(3):hover,.min_max_mehsul_sifaris button:nth-child(2):hover{
  background-color: #449d44;
}
.sifarish_oldu button:nth-child(3):focus,.sifarish_limiti_dolub button:nth-child(3):focus,.sifarish_xeta button:nth-child(3):focus,.min_max_mehsul_sifaris button:nth-child(3):focus{
  background-color: #449d44;
}
/*SIFARISH FINISH - SIFARISH FINISH - SIFARISH FINISH - SIFARISH FINISH - SIFARISH FINISH - SIFARISH FINISH - SIFARISH FINISH*/






/*SEBETIM START - SEBETIM START - SEBETIM START - SEBETIM START - SEBETIM START - SEBETIM START - SEBETIM START*/
.sbt_daxil_olun{
  padding-left: 15px;
  font-weight: 600;
}
.sebet_bosdur{
  padding-left: 15px;
  font-weight: 600;
}
.sebetim_main{
  margin-right: 0px;
}
.sebetim_leftside{
  padding-left: 0px !important;
}
.sebetim_table_headers p{
  text-transform: uppercase;
  text-decoration: underline;
  color: #3f3f45;
}
.sebetim_item{
  margin-top: 30px;
  padding-left: 0px !important;
  min-height: 180px;
}
.sebetim_item img{
  width: 180px;
}
.sebetim_item h2{
  margin-top: 0px;
  color: #3f3f45;
  font-size: 20px;
}
.sebetim_eded{
  text-align: center;
  color: #3f3f45;
}
.sebetim_qiymet{
  font-weight: 600;
}
.remove_item{
  background: #ff3333;
  color: white !important;
  position: absolute;
  right: 10px;
  bottom: 65px;
}
.sebet_tamamla_xs{
  display: none;
}
.sebetim_alisverisi_tamamla{
  text-align: right;
  background: white;
  padding-right: 0px;
  padding-bottom: 15px;
}
.sebetim_alisverisi_tamamla .toplam{
  font-weight: 900;
  background-color: #3f3f45;
  border-top: 5px solid #ED5258;
  padding: 15px 15px;
  font-weight: bolder;
  font-size: 17px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.toplam_mehsul{
  
}
.odenilecek_mebleg{
  color: #7B7B7B;
}
.odenilecek_mebleg_reqem{
  font-weight: 700;
  line-height: normal;
  font-size: 26px;
  color: #484848;
}
.sebetim_alisverisi_tamamla button:nth-child(5){
  font-weight: 600;
  border:0px;
  padding: 15px 25px;
  margin-bottom: 20px;
}
.sifarisiniz_baxilacaq,.sifarisiniz_baxildi{
  display: block;
  display: none;
}
.sebetim_alisverisi_tamamla .fa-chevron-right{
  margin-left: 15px;
  margin-top: 1px;
  font-size: 18px;
}
/*SEBETIM FINISH - SEBETIM FINISH - SEBETIM FINISH - SEBETIM FINISH - SEBETIM FINISH - SEBETIM FINISH - SEBETIM FINISH*/





/* ADMIN PANEL START - ADMIN PANEL START - ADMIN PANEL START - ADMIN PANEL START - ADMIN PANEL START - ADMIN PANEL START */
.admin_panel_main_div{
  display: none;
}
.admin_tabs input, .admin_tabs select, .admin_tabs button{
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
}
.admin_tabs input[type=file]{
  margin-top:0px;
}
.admin_tabs label{
  margin-top: 20px;
}
#tabs ul li a:focus{
  outline: none !important;
}
/*mehsul-sil start*/
.mehsul_sil_main button{
  width: 46px;
  height: 31px;
  font-size: 11.5px;
  margin-top: 0px !important;
}
/*mehsul-sil-finish*/
/*slider-foto-sil start*/
.slider_foto__sil_main button{
  width: 46px;
  height: 31px;
  font-size: 11.5px;
  margin-top: 0px !important;
}
/*slider-foto-sil finish*/
/*uzvler start*/
.uzvler_main .uzv_aktivdir{
  color: #5cb85c;
  font-weight: bold;
}
.uzvler_main .uzv_aktiv_deyil{
  color: #d9534f;
  font-weight: bold;
}
.uzvler_main button{
  width: 46px;
  height: 31px;
  font-size: 11.5px;
  margin-top: 0px !important;
}
/*uzvler finish*/
/*sifarisler start*/
.admin_panel_main_div .modal-dialog{
  width: 1050px !important;
}
.sifarisler_main button{
  width: 70px;
  height: 31px;
  font-size: 11.5px;
  margin-top: 0px !important;
}
.toplam_tutar_td{
  font-size: 15px;
  font-weight: bold;
}
/*sifarisler finish*/
.admin_exit{
  margin: 20px 0px;
  width: 100px;
}
/* ADMIN PANEL FINISH - ADMIN PANEL FINISH - ADMIN PANEL FINISH - ADMIN PANEL FINISH - ADMIN PANEL FINISH - ADMIN PANEL FINISH */





/* PAGINATION START - PAGINATION START - PAGINATION START - PAGINATION START - PAGINATION START - PAGINATION START */
  .pagination{
    margin-left: 24%;
  }
  .pagination i:first-child{
    margin-left: 0px;
    line-height: 23px;
  }
  .pagination i:last-child{
    line-height: 22px;
  }
  .pagination p,.pagination i{
    display: inline-block;
    background: #ED5258;
    font-size: 15px;
    padding: 5px 12px;
    margin-left: 5px;
    font-weight: bold;
    color: white;
    min-width: 42px;
    text-align: center;
  }
  .pagination p:hover,.pagination i:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .active_page{
    display: inline-block;
    background: #ED5258;
    font-size: 15px;
    padding: 5px 12px;
    margin-left: 5px;
    font-weight: bold;
    color: white;
  }
/* PAGINATION FINISH - PAGINATION FINISH - PAGINATION FINISH - PAGINATION FINISH - PAGINATION FINISH - PAGINATION FINISH */
@media(max-width: 1200px){
  .sebetim_item h2{
    font-size: 16px;
  }
  .sebetim_item img{
    width: 160px;
  }
  .remove_item{
    right: 0px;
  }
  .pagination{
    margin-left: 18%;
  }
}

@media(max-width: 992px){
  .slider_inner_right{
    padding: 50px 50px 0px 140px;
    padding-top: 0;
  }
  .pagination{
    margin-left: 8%;
  }
  .sifarish_oldu,.sifarish_limiti_dolub,.sifarish_xeta,.sifarish_ucun_daxil_olun,.mehsul_sil_popup,.min_max_mehsul_sifaris{
    width: 40%;
    left: 30%;
  }
  .slider_inner_left{
    text-align: center;
  }
  .slider_img{
    width: 100% !important;
    height: 400px;
  }
}
@media(max-width: 768px){
  .sifarish_oldu p,.sifarish_limiti_dolub p,.sifarish_xeta p,.sifarish_ucun_daxil_olun p,.mehsul_sil_popup p,.min_max_mehsul_sifaris p{
    font-size: 18px;
  }
  .pagination{
    margin-left: 20%;
  }
  .navbar{
    height: auto;
  }
  .navbar ul{
    display: none;
    margin-bottom: 0;
    padding-top: 71px;
  }
  .navbar ul li{
    display: block;
    width: 100% !important;
  }
  .navbar ul li a{
    padding-left: 15px;
  }
  .menu_before:before{
    width: 100%;
  }
  .closed_menu{
    display: block;
  }
  .closed_menu:before{
    content: "MENU";
    position: absolute;
    width: 100%;
    height: 71px;
    line-height: 71px;
    padding-left: 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    z-index: 10;
    background: #3f3f45;
  }
  .closed_menu:after{
    font-family: 'FontAwesome';
    content: "\f0c9";
    color: white;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    line-height: 71px;
    z-index: 11;
    padding-right: 15px;
  }
  .slider_img{
    width: 400px;
    height: 400px;
  }
  .slider_inner_right{
    padding-left: 15px !important;
  }
  .slider_h5{
    font-size: 30px !important;
  }
  .slider_p{
    font-size: 20px !important;
  }
  .slider_qiymet{
    font-size: 28px !important;
  }
  .sebetim_alisverisi_tamamla{
    text-align: left;
  }
  .sebetim_item{
    min-height: 50px;
  }
  .sebet_tamamla_md{
    display: none;
  }
  .sebet_tamamla_xs{
    display: inline-block;
  }
  .remove_item{
    right: 0px;
    bottom: 10px;
    padding: 3px;
  }
  .sifarish_oldu,.sifarish_limiti_dolub,.sifarish_xeta,.sifarish_ucun_daxil_olun,.mehsul_sil_popup,.min_max_mehsul_sifaris{
    width: 60%;
    left: 20%;
  }
}






/*BU HISSENI DEYISME!!!*//*BU HISSENI DEYISME!!!*/
@media(min-width: 769px){
  /*nav menu 768 den kicik olanda gorunmur, 768 den boyuk olandada gorunmur.768 den boyuk olanda gorunmesi ucun.*/
  .navbar ul{
  display: block !important;
}
}
@media(max-width: 545px){
  /*headerin ustundeki bolmenin sag terefini kicik ekranda asagi salmaq ucun.*/
  .header_top_right{
    float: left !important;
  }
}
@media(max-width: 600px){
  /*sliderin img tagi*/
  .slider_img{
    width: 100% !important;
    height: auto;
  }
}
@media(max-width: 700px){
  .sebetim_item img{
  width: 100%;
}
}
/*BU HISSENI DEYISME!!!*//*BU HISSENI DEYISME!!!*/